.solution-container {
  font-size: 0.9rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
}
.answer-status {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
}

.icon-text{
  position: absolute;
}
