<div class="container solution-container">
  <div class="answer-status">

    <ng-container *ngIf="isAnswerCorrect(); else wrongAnswerTemplate">
      <label class="text-primary"><mat-icon color="accent">check_circle</mat-icon> <span class="icon-text ml-2">Right Answer</span></label>

    </ng-container>
    <ng-template #wrongAnswerTemplate>
      <label class="text-danger"><mat-icon color="warn">clear</mat-icon> <span class="icon-text">Wrong Answer</span></label>
    </ng-template>



  </div>
  <h5>Solution:</h5>
  <p class="legend text-success solution-answer">Correct Answer: {{question?.solution?.correctAnswers}}</p>
  <p class="text-primary justify-content-around solution-details">
    {{question?.solution?.explanation}}
</p>

</div>
