<div class="container preview">
    
    <div class="row preview__title">
      <div class="col text-center">
        <h5>Preview</h5>
        <hr />
      </div>
    </div>
  
    <div class="preview__upload">
        <p></p>
    </div>

    <div class="row exam-details">
      <div class="col-md-8 col-sm-12">
        <div class="exam__details">
          <div class="row">
            <div class="col">
              <h5 class="mb-4">exam.description</h5>
              <h6><small>Topics Covered: </small>exam.labels</h6>
              <h6><small>Format: </small> exam.format</h6>
              <h6><small>No of Questions: </small>exam.noOfQuestions</h6>
              <h6><small>Duration: </small> exam.durationInMin</h6>
              <h6><small>Passing Score: </small> exam.requiredScoreInPercent </h6>
            </div>
          </div>
        </div>
  
      </div>
  
  
  
    </div>
  
   
  
  </div>
  