@import 'variables';
@import 'mixin';

body {
  @include gradient($white, $gray-100);
  min-height: 100vh;
  margin-bottom: 1rem;
}

.mat-snack-bar-primary {
  background: $primary !important;
  color : $white !important;
}

.fab-icon-button {
  float: right;
  width: 25px !important;
}
mat-progress-bar .mat-progress-bar-buffer {
  background: #E4E8EB;
}

.btn {
  margin: 0 0.2rem 0 0.2rem;
}

.mat-mdc-paginator-container, .mat-mdc-paginator-container .mat-mdc-select-panel, .mdc-menu-surface {
  background: $primary !important;
}


.mdc-data-table__cell{
  background: $white !important;
  color: $primary !important;
}
.mdc-data-table__header-cell {
  background: $primary !important;
  color: $white !important;
}
table > thead > tr {
  background: $primary !important;
}

.code-snippet {
  color: $pink !important;
  font-family: monospace !important;
  width: 100% !important;
  margin: 1rem 0 1rem 1rem;
  box-decoration-break: clone;
}

.code-text {
  color: $pink !important;
  font-family: monospace !important;
}
