<div class="container home">
  <div class="row">
    <div class="col text-center">
      <h1>{{exam.title}}</h1>
      <hr/>
    </div>
  </div>

  <div class="examDescription row">
    <div class="col-md-8 col-sm-12">
      <div class="exam__details">
        <div class="row">
          <div class="col-12">
            <p [innerHtml]="exam.description" class="text-primary"></p>
          </div>

          <div class="col-12 mt-2 mb-4">
            <span *ngFor="let tag of exam.tags" class="badge text-bg-primary me-1">{{tag}}</span>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="input-group mb-3">
              <span class="input-group-text border-primary border-opacity-50"><mat-icon>quiz</mat-icon></span>
              <span class="input-group-text border-primary border-opacity-50 w-50">Questions</span>
              <label class="form-control border-primary border-opacity-50 text-center">{{exam.noOfQuestions}}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group mb-3">
              <span class="input-group-text border-primary border-opacity-50"><mat-icon>timer</mat-icon></span>
              <span class="input-group-text border-primary border-opacity-50 w-50">Duration</span>
              <label class="form-control border-primary border-opacity-50 text-center">{{(getApproxExamDuration())}} min</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group mb-3">
              <span class="input-group-text border-primary border-opacity-50"><mat-icon>speed</mat-icon></span>
              <span class="input-group-text border-primary border-opacity-50 w-50">Difficulty</span>
              <label class="form-control border-primary border-opacity-50 text-center">{{exam.noOfQuestions}}</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group mb-3">
              <span class="input-group-text border-primary border-opacity-50"><mat-icon>flag</mat-icon></span>
              <span class="input-group-text border-primary border-opacity-50 w-50">Pass Score</span>
              <label class="form-control border-primary border-opacity-50 text-center">{{exam.passScore}} %</label>
            </div>
          </div>

        </div>

      </div>

      <div class="exam__result-display-option mt-4">

        <div class="input-group mb-3">
          <label class="input-group-text" for="displayResultOption">Display correct answer</label>
          <select class="form-select" id="displayResultOption" [(ngModel)]="exam.solutionDisplayOption">
            <option selected>Choose...</option>
            <option [value]="solutionDisplayOption.AFTER_QUESTION_SUBMISSION">after answering each questions</option>
            <option [value]="solutionDisplayOption.AFTER_EXAM_SUBMISSION">only after exam submission</option>
          </select>
        </div>

      </div>

    </div>

    <div class="col-md-4 col-sm-12 mb-sm-5 text-center align-items-center language-logo-container">
      <img class="exam-language-logo" [src]="exam.imageUrl" alt="Image">
    </div>

  </div>

  <div class="text-center mb-5 mt-md-3">
    <h4>Best of Luck..!</h4>
    <button class="btn btn-primary" (click)="startExam()">Launch</button>
  </div>

</div>
