<div class="container question">

  <div class="question__title mt-4">
    <div class="d-flex d-flex-inline flex-row justify-content-start">
      <div [innerHtml]="exam.title" class="exam-title h5"></div>
      <div class="report-bug-link flex-fill text-end">
        <button mat-button class="text-primary" (click)="reportIssue()" matTooltip="Incorrect answer? Having suggestion?">
          <mat-icon>bug_report</mat-icon>
          Report Bug
        </button>
      </div>
    </div>
  </div>

  <div class="question_content">

    <mat-progress-bar mode="determinate" [value]="getCurrentProgress()" class="mb-2"></mat-progress-bar>
    <div class="row">
      <div class="col-12 justify-content-around text-primary">
        <p>
          <span class="fw-semibold small">Question {{question.rowNo}} of {{exam.noOfQuestions}}: </span>
          <span class="small" *ngIf="!question.hasMultipleAnswers"> [ Choose the correct answer ]</span>
          <span class="small" *ngIf="question.hasMultipleAnswers"> [ Choose all correct answers ]</span>
        </p>

        <p [innerHtml]="question.title" *ngIf="question.title" class="text-dark-emphasis"></p>
      </div>
      <div class="col-12 justify-content-around text-primary mt-2">
        <p [innerHtml]="question.description" *ngIf="question.description" class="text-dark-emphasis"></p>
      </div>
    </div>

  </div>

  <br/>
  <div class="question__answers">

    <section class="multiple-answer-option-section text-primary row" *ngIf="question.hasMultipleAnswers">
      <ng-template ngFor let-option [ngForOf]="question.options"
                   [ngForTrackBy]="fnTracedByForOption">
        <div class="input-group mb-3 col-12">
          <mat-checkbox color="primary" class="form-control col-12"
                        [class.highlight-right-answer]="isQuestionOrExamSubmitted() && option.isCorrectAnswer"
                        [class.highlight-wrong-answer]="this.isQuestionOrExamSubmitted() && !option.isCorrectAnswer && option.isSelected"
                        [(ngModel)]="option.isSelected" [checked]="option.isSelected"
                        [disabled]="isQuestionOrExamSubmitted()">
            <div class="text-primary option-text" [innerHtml]="option.text"
                 [class.highlight-right-answer-text]="isQuestionOrExamSubmitted() && option.isCorrectAnswer"></div>
          </mat-checkbox>
        </div>
      </ng-template>
    </section>

    <section class="single-answer-option-section text-primary row" *ngIf="!question.hasMultipleAnswers">
      <mat-radio-group (change)="singleOptionChangeEvent($event)" color="primary">
        <div class="input-group mb-3 col-12" *ngFor="let option of question.options">
          <mat-radio-button [value]="option.id" color="primary" class="form-control col-12 w-100"
                            [checked]="option.isSelected" [disabled]="isQuestionOrExamSubmitted()"
                            [class.highlight-right-answer]="isQuestionOrExamSubmitted() && option.isCorrectAnswer"
                            [class.highlight-wrong-answer]="isQuestionOrExamSubmitted() && !option.isCorrectAnswer && option.isSelected">
            <div class="text-primary option-text" [innerHtml]="option.text"
                 [class.highlight-right-answer-text]="isQuestionOrExamSubmitted() && option.isCorrectAnswer"></div>
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </section>

  </div>


  <div *ngIf="isQuestionOrExamSubmitted()" class="question_solution mt-3 ">

    <ng-container *ngIf="isAnswerCorrect(); else wrongAnswerTemplate">
      <div class="d-inline-flex">
        <mat-icon color="accent">check_circle</mat-icon>
        <div class="text-success ms-2">Right Answer</div>
      </div>
    </ng-container>
    <ng-template #wrongAnswerTemplate>
      <div class="d-inline-flex">
        <mat-icon color="warn">highlight_off</mat-icon>
        <div class="text-danger ms-2">Wrong Answer</div>
      </div>
    </ng-template>

  </div>

  <div class="actions align-items-end">
    <!-- Save & Display correct answer -->
    <button [disabled]="isQuestionOrExamSubmitted()"
            *ngIf="exam.solutionDisplayOption == displaySolutionOption.AFTER_QUESTION_SUBMISSION"
            [hidden]="this.exam.isSubmitted"
            class="btn btn-outline-primary mr-3 mt-2" (click)="save()">Show Answer
    </button>
    <!-- Display Previous button except first question -->
    <button *ngIf="!isItFirstQuestion()" (click)="moveToPrevQuestion()" class="btn btn-primary mr-3 mt-2">Prev</button>
    <!-- Display Next option except last question -->
    <button *ngIf="!isItLastQuestion()" (click)="moveToNextQuestion()" class="btn btn-primary mr-3 mt-2">Next</button>
    <!-- Display Submit option only for last question and exam's display solution option set to display solution at the end -->
    <button *ngIf="canDisplaySubmitOption()" class="btn btn-success mr-3 mt-2" (click)="submit()">Submit</button>
    <button *ngIf="exam?.isSubmitted && isItLastQuestion() " class="btn btn-success mr-3 mt-2" (click)="home()">Home
    </button>
  </div>

</div>
