@import 'src/sass/variables';

::ng-deep .mdc-checkbox__background {
  border: 1px solid $primary !important;
}

::ng-deep .mdc-radio__background {
  border: 1px solid $primary !important;
  border-radius: 50%;
}
::ng-deep .mdc-radio__background .mdc-radio__inner-circle {
  top: -1px;
  left: -1px;
}

::ng-deep mdc-checkbox .mdc-form-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:disabled:checked + .mdc-radio__background .mdc-radio__outer-circle,
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:disabled:checked + .mdc-radio__background .mdc-radio__inner-circle,
::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background: $black !important;
  opacity: 75%;
}

.highlight-right-answer {
  background: forestgreen;
  font-weight: bold;
}

.highlight-right-answer-text {
  color: whitesmoke !important;
  font-weight: bold;
}

.highlight-wrong-answer {
  background: indianred;
  opacity: 50%;
}

// radio option row clickable with width 100%
::ng-deep .mat-mdc-radio-button .mdc-form-field,
::ng-deep .mat-mdc-radio-button .mdc-form-field label {
  width: 100% !important;
  line-height: 2.5rem;
  cursor: pointer;
}

// checkbox option row clickable with width 100%
::ng-deep .mat-mdc-checkbox .mdc-form-field,
::ng-deep .mat-mdc-checkbox .mdc-form-field label {
  width: 100% !important;
  line-height: 2.5rem;
  cursor: pointer;
}

.option-text {
  font-weight: 500 !important;
}
