@import 'src/sass/variables';

::ng-deep .mdc-checkbox__background {
  border: 1px solid $primary !important;
}

::ng-deep .mdc-radio__background {
  border: 1px solid $primary !important;
  border-radius: 50%;
}

::ng-deep mdc-checkbox .mdc-form-field {
  width: 100% !important;
}

::ng-deep mat-checkbox,
::ng-deep mat-radio-button,
::ng-deep mat-checkbox .mdc-form-field,
::ng-deep mat-radio-button .mdc-form-field {
  width: 100% !important;
}

::ng-deep mat-radio-button .mdc-form-field  div,
::ng-deep mat-checkbox .mdc-form-field  div{
  display: block;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:disabled:checked+.mdc-radio__background .mdc-radio__outer-circle,
::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-disabled.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background: $gray-800 !important;
  opacity: 50%;
}

