<div class="container question">

  <div class="question__title mt-4">
    <h5>{{exam.name}}</h5>
    <hr>
  </div>

  <div class="question_content">
    <app-question-details [question] = "question"></app-question-details>
  </div>

  <div class="question__answers">
    <app-question-answers [question]="question"></app-question-answers>
  </div>

  {{question?.selectedAnswer | json}}

  <div class="actions">
    <!-- Display Save option only when submit option is not displayed -->
    <button *ngIf="!canDisplaySubmitOption()" class="btn-primary mr-3 mt-2">Save</button>
    <!-- Display Previous button except first question -->
    <button *ngIf="!isItFirstQuestion()" class="btn-outline-primary mr-3 mt-2 font-weight-bold">Prev</button>
    <!-- Display Next option except last question -->
    <button *ngIf="!isItLastQuestion()" class="btn-outline-primary mr-3 mt-2 font-weight-bold">Next</button>
    <!-- Display Submit option only for last question and exam's display solution option set to display solution at the end -->
    <button *ngIf="canDisplaySubmitOption()" class="btn-primary mr-3 mt-2">Submit</button>
  </div>

  <div *ngIf="canDisplaySolution()" class="question_solution mt-3 p-4" style="border: 1px solid purple;">
    <app-question-solution [question]="question"></app-question-solution>
  </div>

</div>
