<div class="container app__container d-flex flex-column ">
  <div class="row app__header">
    <div class="text-end">

      <button mat-icon-button color="primary" (click)="home()" matTooltip="Home">
        <mat-icon>home</mat-icon>
      </button>

      <button mat-icon-button  color="primary" (click)="navigateToLearningPaths()" matTooltip="Learning Paths">
        <mat-icon>route</mat-icon>
      </button>

      <button mat-icon-button  color="primary" (click)="navigateToLearningPaths()" matTooltip="Learning Paths">
        <mat-icon aria-hidden="false">route</mat-icon>
      </button>

      <button mat-icon-button extended color="primary" (click)="newExam()" matTooltip="Create New Exam">
        <mat-icon>queue_play_next</mat-icon>
      </button>

      <button mat-icon-button color="primary" matTooltip="About Me" (click)="myprofile()">
        <mat-icon>contact_page</mat-icon>
      </button>

    </div>
  </div>

  <div class="row app__content ">
    <router-outlet></router-outlet>
  </div>

  <div class="row app__footer">
    <app-footer></app-footer>
  </div>
</div>


