<div class="d-flex fab justify-content-end align-items-end">

  <button mat-icon-button color="primary" (click)="home()" title="Home">
    <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
  </button>

  <button mat-icon-button color="primary" (click)="newExam()" title="New Exam">
    <mat-icon>add_moderator</mat-icon>
  </button>

  <button mat-icon-button color="primary"  (click)="myprofile()" title="About Me">
    <mat-icon>contact_page</mat-icon>
  </button>

</div>


<router-outlet></router-outlet>
