@import 'variables';
@import 'mixin';

body {
  @include gradient($white, $gray-100);
  min-height: 100vh;
  margin-bottom: 1rem;
}

.mat-snack-bar-primary {
  background: $primary !important;
  color : $white !important;
}

.fab-icon-button {
  float: right;
  width: 25px !important;
}
mat-progress-bar .mat-progress-bar-buffer {
  background: #E4E8EB;
}

.btn {
  margin: 0 0.2rem 0 0.2rem;
}