// Define application specific theme and colors
$blue-dark: #371a94;
$blue-light: #9047d4;
$pink: #d447c8;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Override bootstrap variables
$primary: $blue-dark;
$secondary: $blue-light;

@use '@angular/material' as mat;
@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent: mat.define-palette(mat.$green-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

