<div class="container summaryContainer mt-3">
  <div class="row">
    <div class="col text-center">
      <h2>{{summary.exam.title}}</h2>
      <hr/>
    </div>
  </div>

  <div class="summary__details">
    <div class="row mt-4">
      <div class="result-icon-container col-md-4 col-sm-12 text-center">
        <img [src]="summary.exam.imageUrl" alt="Image" [matTooltip]="summary.exam.title" class="result-icon">
      </div>

      <div class="col-md-8 col-sm-12">

        <div class="col-12 mb-4 mt-4">
          <h5 *ngIf="summary.result">Congratulation..!</h5>
          <h5 *ngIf="!summary.result">Sorry..! Better Luck Next Time.!</h5>
        </div>

        <div class="col-sm-12 col-lg-6 mb-4 mt-4">
          <div class="input-group mb-3">
            <span class="input-group-text border-primary border-opacity-50"><mat-icon>speed</mat-icon></span>
            <span class="input-group-text border-primary border-opacity-50 w-50">Result</span>
            <label class="form-control border-primary border-opacity-50">
              <span class="badge text-bg-success" *ngIf="summary.result">Pass</span>
              <span class="badge text-bg-danger" *ngIf="!summary.result">Fail</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-lg-6 mb-4 mt-4">
          <div class="input-group mb-3">
            <span class="input-group-text border-primary border-opacity-50"><mat-icon>speed</mat-icon></span>
            <span class="input-group-text border-primary border-opacity-50 w-50">Scored</span>
            <label class="form-control border-primary border-opacity-50">
              <span class="badge" [class.text-bg-success]="summary.result"
                    [class.text-bg-danger]="!summary.result">{{summary.score}}%</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-lg-6 mb-4 mt-4">
          <div class="input-group mb-3">
            <span class="input-group-text border-primary border-opacity-50"><mat-icon>speed</mat-icon></span>
            <span class="input-group-text border-primary border-opacity-50 w-50">Correct Answers</span>
            <label class="form-control border-primary border-opacity-50">
              <span class="badge" [class.text-bg-success]="summary.result" [class.text-bg-danger]="!summary.result">
                {{summary.correctAnswers}} out of {{summary.exam.noOfQuestions}}</span>
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-lg-6 mb-4 mt-4">
          <div class="input-group mb-3">
            <span class="input-group-text border-primary border-opacity-50"><mat-icon>speed</mat-icon></span>
            <span class="input-group-text border-primary border-opacity-50 w-50">Difficulty</span>
            <label class="form-control border-primary border-opacity-50">
              <span class="badge text-bg-success">
                {{summary.exam.difficulty}}</span>
            </label>
          </div>
        </div>


      </div>

      <h5><small>:</small></h5>

    </div>

    <div class="summary-actions row mt-4">
      <div class="col-12 text-center">
        <button class="btn btn-success mr-3" (click)="viewSolutions()">Answers</button>
        <button class="btn btn-outline-primary" (click)="gotoHome()">Home</button>
      </div>
    </div>

  </div>

</div>
