<div class="container home">
  <div class="row">
    <div class="col text-center">
      <h1>Java Certification Mock Exams</h1>
      <hr />
    </div>
  </div>

  <div class="examDescription row">
    <div class="col-md-8 col-sm-12">
      <div class="exam__details">
        <div class="row">
          <div class="col">
            <h5>
              <small>Title: </small>Java11 Certification - Quick Practice Exam 1
            </h5>
            <h6><small>No of Questions: </small>20</h6>
            <h6><small>Topics Covered: </small>Java Basics [Labels]</h6>
            <h6><small>Format: </small>Multiple Choice</h6>
            <h6><small>Passing Score: </small>60%</h6>
          </div>
        </div>
      </div>

      <div class="exam__result-display-option mt-4">
        <div>
          <label class="text-primary">
            <input
              type="radio"
              value="1"
              name="examResultDisplayOption"
              checked
            />
            Display solution after answering individual questions
          </label>
        </div>
        <div>
          <label class="text-primary">
            <input type="radio" value="1" name="examResultDisplayOption" />
            Display solution only at the end of exam
          </label>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-12 mb-sm-5 text-center align-items-center language-logo-container">
      <img class="exam-language-logo" src="https://cdn.worldvectorlogo.com/logos/java.svg" alt="LAnguage Icon">
    </div>


  </div>

  <div class="text-center mb-5">
    <h4>Best of Luck..!</h4>
    <button class="btn-primary" (click)="startExam()">Launch</button>
  </div>

</div>
