<ng-container *ngIf="!question?.isQuestionAnswered; else multipleAnswerTemplate">
  <div class="option" *ngFor="let option of question?.options">
    <label>
      <input type="radio" [value]="option.id" [(ngModel)]="question.isQuestionAnswered" name="answers" [disabled]="canDisableInput()">
      {{option.text}}
    </label>
  </div>
</ng-container>
<ng-template #multipleAnswerTemplate>
  <div class="option" *ngFor="let option of question?.options">
    <label>
      <input type="checkbox" [value]="option.id" [name]="option.id" (change)="eventAnswered($event, option)"
      [checked]="isAnswerSelected(option.id)" [disabled]="canDisableInput()">
      {{option.text}}
    </label>
  </div>
</ng-template>

