<div class="container home">

  <div class="home__title col-12 m-auto text-center">
    <h1>Mock Certification Exams</h1>
    <hr>
  </div>

  <div class="home__content mt-sm-4">
    <div class="row">
      <div class="col-12">
        <app-search-component (onSearchEvent)="searchExams($event)"></app-search-component>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 flex-grow-1 flex-fill h-100 row align-items-center">

      <div class="col exam-details mt-2" *ngFor="let exam of exams">
        <app-exam-details-card [exam]="exam"></app-exam-details-card>
      </div>

    </div>
  </div>
</div>
