<div class="container home">

  <div class="home__title col-12 m-auto text-center">
    <h1>Mock Certification Exams</h1>
    <hr>
  </div>

  <div class="home__content mt-sm-4">

    <div class="row row-cols-1 row-cols-md-3 flex-grow-1 flex-fill h-100 row align-items-center">

      <div class="col exam-details mt-2" *ngFor="let exam of exams">
        <div class="card h-100" (click)="gotoExam(exam)">
          <div class="card-header">
            <h6>{{exam.title}}</h6>
          </div>
          <div class="row row align-items-center">
            <div class="col-sm-8 col-md-4 align-items-center text-center m-auto mt-sm-4">
              <img [src]="exam.imageUrl"
                   class="exam__logo img-fluid rounded-start" [alt]="exam.title" [title]="exam.title"/>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="card-body">
                <div class="card-title text-wrap overflow-hidden text-primary">
                  <p>{{exam.description}}</p>
                </div>
                <div class="card-text">
                  <div [hidden]="!exam.tags" class="text-primary">
                    <small>Topics: {{exam.tags}}</small>
                  </div>
                  <div [hidden]="!exam.noOfQuestions" class="text-primary">
                    <small>Questions: {{exam.noOfQuestions}}</small>
                  </div>
                  <div [hidden]="!exam.noOfQuestions" class="text-primary font-weight-bold">
                    <small>Duration: {{exam.noOfQuestions}}(min)</small>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>
