@import '../../sass/variables';
@import '../../sass/mixin';


img.exam__logo {
  object-fit: fill;
  height: 5.5rem;
  width: 5rem;
}

.card {
  border-color: $secondary;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.card:hover {
  box-shadow: 3px 3px 3px $secondary;
  cursor: pointer;
}

.card-header {
  @include gradient($primary, $secondary);
  h6 {
    color: $gray-100 !important;
  }
}


.card-title {
  font-weight: 500;
  font-size: 0.9rem;;
}
.card-text small{
  font-weight: 500;
}

.home__content {
  margin-bottom: 2rem;;
}

.exam-description {
  font-size: 0.8rem;
}
