<div class="container new-exam">

  <div class="row new-exam__title">
    <div class="col text-center">
      <h5>New Exam</h5>
      <hr/>
    </div>
  </div>

  <div class="new-exam__exam">

    <div class="row new-exam__upload mb-3">
      <div class="col-12">
        <div class="input-group">
          <input type="file" class="form-control" id="inputGroupFile04" (change)="onFileChanged($event)">
          <button class="btn btn-outline-secondary" type="button" (click)="uploadData()">Upload</button>
        </div>
      </div>

    </div>

    <form #newExamForm="ngForm" (ngSubmit)="saveAndProceed()">
      <div class="row new-exam__details">

        <div class="col-md-3 col-sm-12 mb-3">
          <label for="examId" class="form-label text-secondary">Exam ID</label>
          <div class="input-group">
            <input type="text" id="examId" name="examId" class="form-control text-primary"
                   [(ngModel)]="exam.id" required [disabled]="exam.id.length > 0">
            <button id="btnGenerateExamID" type="button" class="btn btn-outline-primary"
                    (click)="generateID()" [hidden]="exam.id.length > 0">Generate
            </button>
          </div>
        </div>

        <div class="col-md-9 col-sm-12 mb-3">
          <label for="examTitle" class="form-label text-secondary">Title</label>
          <input type="text" id="examTitle" name="examTitle" class="form-control text-primary"
                 [(ngModel)]="exam.title" required>
        </div>

        <div class="col-md-12 col-sm-12 mb-3">
          <angular-editor name="examDescriptionEditor" placeholder="enter description here"
                          [config]="editorConfig" [(ngModel)]="exam.description"></angular-editor>
        </div>

        <div class="col-md-12 col-sm-12 mb-3">
          <label for="examTags" class="form-label text-primary">Tags</label>

          <mat-chip-grid #chipGrid id="examTags" class="form-control">
            <mat-chip-row *ngFor="let tag of exam.tags" color="primary"
                          (removed)="remove(tag)"
                          [editable]="false">
              {{tag}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="New Tag..."
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="false"
                   (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>

        </div>

        <div class="col-12">
          <fieldset class="border rounded-3 px-3 row">
            <legend class="float-none w-auto px-3 text-secondary">Optional</legend>

            <div class="col-md-4 col-sm-12 mb-3">
              <label for="minPassingScore" class="form-label text-secondary">Pass Score</label>
              <div class="input-group">
                <input id="minPassingScore" name="minPassingScore" type="number" class="form-control text-primary"
                       [(ngModel)]="exam.passScore">
                <span class="input-group-text">%</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
              <label for="noOfQuestions" class="form-label text-secondary">No Of Questions</label>
              <input id="noOfQuestions" name="noOfQuestions" type="number" class="form-control text-primary"
                     [(ngModel)]="exam.noOfQuestions">
            </div>

            <div class="col-md-4 col-sm-12 mb-3">
              <label for="displaySolutionOption" class="form-label text-secondary">Display Solution</label>
              <select id="displaySolutionOption" name="displaySolutionOption" class="form-select text-primary"
                      [(ngModel)]="exam.solutionDisplayOption">
                <option selected [value]="solutionDisplayOption.AFTER_EXAM_SUBMISSION">After Exam Submission</option>
                <option [value]="solutionDisplayOption.AFTER_QUESTION_SUBMISSION">After Answering Each Question</option>
              </select>
            </div>

          </fieldset>
        </div>

      </div>

      <div class="row new-exam__actions mt-3 justify-content-md-center">
        <button mat-raised-button color="primary" type="submit" [disabled]="newExamForm.invalid" matStepperNext>
          Save & Proceed
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>

    </form>

  </div>

</div>
